streamlit
pandas
plotly.express
numpy
Referências das figuras usadas nas imagens: 
<a href="https://www.flaticon.com/free-icons/doubt" title="doubt icons">Doubt icons created by Karyative - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/teacher" title="teacher icons">Teacher icons created by Freepik - Flaticon</a>

